.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 64px; // Navbar height (padding + content)
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 64px);
}
