.glass-container {
    z-index: 2;
    max-width: 24vw;
    padding: 3rem;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Inner glow effect */
.glass-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.login-btn {
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0.5vh;
    margin-top: 3.5vh;
}

.login-btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-2px);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.login-btn:active {
    transform: translateY(0);
}