.home-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-title {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.6;
}