<div class="jessica-controller-container flex flex-column h-screen">
  <!-- Top Half: Map Display -->
  <div class="media-section flex-1 flex">
    <app-map-display></app-map-display>
  </div>

  <!-- Bottom Half: Control Panel -->
  <div class="control-section flex-1 flex align-items-center justify-content-center">
    <app-control-panel [onUp]="onUp" [onDown]="onDown" [onLeft]="onLeft" [onRight]="onRight" [onStart]="onStart"
      [onStop]="onStop" [isRunning]="isRunning"></app-control-panel>
  </div>
</div>